  <div class="content-area">
    <h1>ーコンテント一覧ー</h1>
    <a href="javascript:history.back()">[戻る]</a>
    <% @contents.each do |content| %>
      <%= link_to category_content_path(@category, content)  do %>
      <div class="contents-container">
          <h1 class="content-top">
              <%= content.content %>
          </h1>
          <div class="content-low">
            <ul class="content-info">
                <li> 作成者：<%= content.user.name %></li>
                <li> カテゴリー：<%= content.category.name %></li>
                <li> コメント数：<%= content.comments.size %></li>
            </ul>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
